@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') format('ttf');
}

$message-danger:#F8D7D9;
$message-success:#D4EDD9;
$message-warning:#FFF3CD;

@mixin message($color){
    background-color:$color;
    border-color: darken($color, 50);
    color:darken($color, 50);
}

._message{
  display:none;
  
  &__container{
    padding:.5rem;
    border:2px solid #000;
    border-radius:0.3em;
    // font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin:0.3rem 0;
  }
  &--danger{
    @include message($message-danger)
  }
  &--success{
    @include message($message-success)
  }
  &--warning{
    @include message($message-warning)
  }

}